{
	"env": {
		"es6": true,
	},
	"plugins": ["@tanstack/query"],
	"extends": ["universe/native", "plugin:@typescript-eslint/recommended"],
	"rules": {
		"prettier/prettier": "error",
		"import/prefer-default-export": "off",
		"react/state-in-constructor": "off",
		"react/static-property-placement": "off",
		"react/jsx-props-no-spreading": "off",
		"react/prop-types": "off",
		"no-param-reassign": "off",
		"no-console": "off",
		"react-hooks/exhaustive-deps": "warn",
	},
}
